# Indexing

In [2]:
# make a string
a="Samosa Pakora"
a

'Samosa Pakora'

In [3]:
a

'Samosa Pakora'

In [4]:
# Length of indexes
len(a)

13

In [5]:
a[0]

'S'

In [6]:
a[3]

'o'

In [7]:
a[12]

'a'

In [8]:
# Last index is exclusive
a[0:6]

'Samosa'

In [9]:
a[0:13]

'Samosa Pakora'

In [10]:
a[-5]

'a'

In [11]:
a[-6:13]

'Pakora'

In [12]:
a[:8]

'Samosa P'

In [13]:
a[3:]

'osa Pakora'

In [14]:
a[-8:-2]

'a Pako'

---

# string methods

In [29]:
food="burger"
food

'burger'

In [33]:
len(food)

6

In [37]:
#  capitalize every element
food.capitalize()

'Burger'

In [36]:
# The upper() method returns the string in upper case:
food.upper()

'BURGER'

In [38]:
# The lower() method returns the string in lower case:
food.lower()

'burger'

In [39]:
# The replace() method replaces a string with another string:
food.replace("b","Sh")

'Shurger'

In [6]:
# counting a specific alphabet in a string
name=" Hello, How are you? "
name

' Hello, How are you? '

In [7]:
name.count("n")

0

In [8]:
# The strip() method removes any whitespace from the beginning or the end:
name.strip()

'Hello, How are you?'

In [9]:
# The split() method splits the string into substrings if it finds instances of the separator:
name.split(",")

[' Hello', ' How are you? ']

In [11]:
# Use the format() method to insert numbers into strings:
name=input("Enter Your name")
age=int(input("Enter your age "))
txt=("My name is {}, I am {} years old")
txt.format(name,age)

Enter Your nameAli
Enter your age 19

'My name is Ali, I am 19 years old'

In [10]:
# Another method of format
age=int(input("Enter your age "))
txt=(f"I am {age} year old")
about

Enter your age 19

'I am 19 year old'

In [19]:
# The casefold() method Converts string into lower case
greeting="Assalam o alaikum, My name is Talha."
greeting.casefold()

'assalam o alaikum, my name is talha.'

In [20]:
# The center() method will center align the string, using a specified character (space is default) as the fill character.
greeting.center(100)

'                                Assalam o alaikum, My name is Talha.                                '

In [21]:
# Using the letter "#" as the padding character  (You can use any other letter)
greeting.center(50,"#")

'#######Assalam o alaikum, My name is Talha.#######'

In [22]:
# The endswith() method returns True if the string ends with the specified value, otherwise False.
greeting.endswith(".")

True

In [24]:
# The find() method finds the first occurrence of the specified value.
# The find() method returns -1 if the value is not found.
# The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found.
greeting.find("name")

22

In [25]:
# Searches the string for a specified value and returns the position of where it was found
greeting.index("o")

8

 ### finding an index number in string

In [16]:
name="We are learning python"
name

'We are learning python'

In [17]:
name.find("n")

11

In [18]:
### how to split a string 
food="I love biryani, jaleebi, mangoes, burger"
food

'I love biryani, jaleebi, mangoes, burger'

In [19]:
food.split(",")

['I love biryani', ' jaleebi', ' mangoes', ' burger']

---

# Basic Data Structures inPython 

### 1- Tupple

### 2- List

### 3- Dictionaries

### 4- Set

## 1-Tuples
- ordered collection of elements
- enclosed in () round braces/paranthesis
- Different kinds of elements can be stored
- once elements are stored you can not change them (Unmutatable)

In [34]:
tup1=(9,"Python",True,2.5)
tup1

(9, 'Python', True, 2.5)

In [35]:
# Types of a tuple
type(tup1)

tuple

### - Indexing in Tuple

In [36]:
tup1[1]

'Python'

In [37]:
tup1[2]

True

In [38]:
# Last element is exclusive
tup1[0:3]

(9, 'Python', True)

In [41]:
tup1[2:]

(True, 2.5)

In [42]:
tup1[:3]

(9, 'Python', True)

In [39]:
tup1[-1]

2.5

In [43]:
tup1[-3:-1]

('Python', True)

In [40]:
# Elements in Tuple
len(tup1)

4

In [10]:
tup2=(4,"Hello",False,9.9)
tup2

(4, 'Hello', False, 9.9)

-  Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [12]:
# concatinate (to add two tuple or >2)
tup1 + tup2

(9, 'Python', True, 2.5, 4, 'Hello', False, 9.9)

In [13]:
# concatinate + repeat
tup1*2 + tup2

(9, 'Python', True, 2.5, 9, 'Python', True, 2.5, 4, 'Hello', False, 9.9)

In [50]:
tup3=(80,90,99,90,100)
tup3

(80, 90, 99, 90, 100)

In [51]:
# maximum
max(tup3)

100

In [52]:
# minimum
min(tup3)

80

In [53]:
tup3.index(99)

2

In [54]:
tup3.count(90)

2

In [32]:
#To create a tuple with only one item,you have to add a comma after the item, otherwise Python will not recognize it as a tuple.
tup4=("Assalam o alaikum",)
tup4

('Assalam o alaikum',)

In [33]:
type(tup4)

tuple

---

## 2- List
- ordered collection of elements
- enclosed in [ ] square braces/brcket
- Mutable, you can change the values

In [26]:
list1=[9,"Python",True,2.5]
list1

[9, 'Python', True, 2.5]

In [27]:
# To determine if a specified item is present in a list use the in keyword:
if "Python" in list1:
    print("Yess! python in this list")

Yess! python in this list

In [28]:
# Loop through the set, and print the values:
for x in list1:
  print(x)

9
Python
True
2.5

In [29]:
type(list1)

list

In [30]:
len(list1)

4

In [31]:
list1[1]

'Python'

In [32]:
list1[1:3]

['Python', True]

In [33]:
list1[:3]

[9, 'Python', True]

In [34]:
list1[1:]

['Python', True, 2.5]

In [35]:
list1[-1]

2.5

In [36]:
list1[-3:-1]

['Python', True]

In [37]:
list2=[4,8,"Hello","World",560,False,9.9]
list2

[4, 8, 'Hello', 'World', 560, False, 9.9]

In [38]:
# concatenate
list1 + list2

[9, 'Python', True, 2.5, 4, 8, 'Hello', 'World', 560, False, 9.9]

In [39]:
# To remove an item in a set, use the remove()
list2.remove("World")
list2

[4, 8, 'Hello', 560, False, 9.9]

In [44]:
# repeat
list1*2

[9, 'Python', True, 2.5, 9, 'Python', True, 2.5]

In [ ]:
list1.

In [45]:
list1

[9, 'Python', True, 2.5]

In [48]:
# 
list1.reverse()
list1

[2.5, True, 'Python', 9]

In [50]:
# Add an item to a set, using the append() method:
list1.append("YouTube channel")
list1

[2.5, True, 'Python', 9, 'YouTube channel', 'YouTube channel']

In [54]:
list1.count("YouTube channel")

2

In [56]:
list3=[30,60,98,67,54,12,34,54,78]
list3

[30, 60, 98, 67, 54, 12, 34, 54, 78]

In [57]:
len(list3)

9

In [58]:
# Arrange the list in ascending order
list3.sort()
list3

[12, 30, 34, 54, 54, 60, 67, 78, 98]

In [59]:
list3*2

[12, 30, 34, 54, 54, 60, 67, 78, 98, 12, 30, 34, 54, 54, 60, 67, 78, 98]

In [60]:
list1 + list2

[2.5,
 True,
 'Python',
 9,
 'YouTube channel',
 'YouTube channel',
 4,
 8,
 'Hello',
 'World',
 560,
 False,
 9.9]

---

## Dictionaries
- An unordered collection of elements
- Key and Value
- curly braces or brackets { }
- Mutateable (you can change the vaues)

In [49]:
# Fruits and their prices
fruits={"Mango":150 , "Apple":120 , "Graps":200 , "Banana":70 , "Watermelon":250}
fruits

{'Mango': 150, 'Apple': 120, 'Graps': 200, 'Banana': 70, 'Watermelon': 250}

In [51]:
# Use square bracket[] to print the Key value
fruits["Mango"]

150

In [52]:
len(fruits)

5

In [73]:
type(fruits)

dict

In [79]:
# extract data
keys=fruits.keys()
keys

dict_keys(['Mango', 'Apple', 'Graps', 'Banana', 'Watermelon'])

In [81]:
values=fruits.values()
values

dict_values([150, 120, 200, 70, 250])

In [87]:
# adding new elements
fruits["Falsa"]=220
fruits

{'Mango': 150,
 'Apple': 120,
 'Graps': 200,
 'Banana': 70,
 'Watermelon': 250,
 'Falsa': 220}

In [89]:
# update these values use curley{} bracket in round bracket() i.e.({"Banana":80})
fruits.update({"Banana":80})
fruits

{'Mango': 150,
 'Apple': 120,
 'Graps': 200,
 'Banana': 80,
 'Watermelon': 250,
 'Falsa': 220}

In [90]:
food={"Dates":100 , "Pepsi":130 , "Yogurt":220}
food

{'Dates': 100, 'Pepsi': 130, 'Yogurt': 220}

In [91]:
# concatenate
fruits.update(food)
fruits

{'Mango': 150,
 'Apple': 120,
 'Graps': 200,
 'Banana': 80,
 'Watermelon': 250,
 'Falsa': 220,
 'Dates': 100,
 'Pepsi': 130,
 'Yogurt': 220}

## 4-Set
- unordered and unindexed
- curly braces are used { }
- no dublicate allowed

In [101]:
s1={2,7.6,"Python", True,"Karachi","Pakistan",1.9}
s1

{1.9, 2, 7.6, 'Karachi', 'Pakistan', 'Python', True}

In [100]:
s1.add("Pakistan")
s1

{1.9, 2, 7.6, 'Hello', 'Karachi', 'Pakistan', 'Python', True}

In [102]:
s1.remove(True)
s1

{1.9, 2, 7.6, 'Karachi', 'Pakistan', 'Python'}